@charset "utf-8";
* {
	padding: 0;
	border: 0;
	margin: auto;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
	background: url('https://www.solidbackgrounds.com/download/2560x1440-blue-abstract-noise-free-website-background-image.jpg');
	background-size: cover;
	background-position: center;
	position: center;
}
h1 {
	font-family: 'gotham';
	text-align: center;
	font-size: 80px;
	font-stretch: 3px;
	width: 100%;
	color: darkred;
	opacity: 1;
	text-shadow:
       3px 3px 0 #ffff,
     -1px -1px 0 #ffff,  
      1px -1px 0 #ffff,
      -1px 1px 0 #ffff,
       1px 1px 0 #ffff;
}
.champions {
	color: whitesmoke;
	text-align: center;
	padding: 20px;
	background-color: black;
}
	
#f1-logo {
	padding: 30px;
}
#header {
	padding: 30px;
	background-color: black;
}
#drivers {
	padding: 50px 0px 0px;
}
.driverdescription {
	background-color: black;
	padding-bottom: 10px;
	text-align: center;
	font-size: 40px;
	color: darkred;
}
#footer {
	padding: 20px;
}
.footertext {
	text-align: right;
	color: white;
}
#f1logotext {
	color: black;
	text-align: center;
}
